<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Activate account</title>
    </head>
    <body>
        
        <h1> Hallo {{ email.to[0].name }} ! </h1>

        <p>
           Notify test
        </p>
        
        <br/>
        <p>
            Danke!
        </p>
        
    </body>
</html>